<!-- if checked in true add checked-in class to the span element -->
<span class="status" [class.checked-in]="detail.checkedIn">
  <div *ngIf="editing">
    <input
      type="text"
      [value]="detail.fullname"
      (input)="onNameChange(name.value)"
      #name
    />
  </div>

  <div *ngIf="!editing">
    {{ detail.fullname }}
  </div>
  <button (click)="toggleEdit()">{{ editing? 'done' : 'edit' }}</button>
</span>

<div class="date">
  check in date:
  <!-- should use pipe date  -->
  {{ detail.checkInDate ? (detail.checkInDate) : 'not checked in' }}
</div>

<div class="children">
  <!-- if no children. display 0 -->
  Children: {{ detail.children?.length || 0 }}
</div>
<button (click)="onRemove()">Remove</button>

