
.status {
    width: 10px;
    height: 10px;
    background-color: red;
    // display: block;
    margin: 8px;
    // float: left;
    border-radius: 50%;
    &.checked-in {
        background-color: green;
    }
}

.status, .date, .children {
    margin: 20px;
}